
@model List<mvc_library.Models.Library>

<h1>The Great Libraries</h1>
<p>What a wealth of knowledge!!!</p>

<a asp-controller="Library" asp-action="Create">Add Library</a>

<ul>
  @foreach(var library in Model){
    <li><a asp-controller="Library" asp-action="Details" asp-route-id="@library.Id">@library.Name</a></li>
  }
</ul>